
body{

    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* ------------------logo area css --------------- */

#logo_area{
    background-color: #333333;
    margin: 0 auto;
}

#logo_area .navbar-brand{
    margin-left: 30%;
    width: 40%;
}

#logo_area ul{
    margin-right: 10%;
}

#logo_area ul li:last-child{
    background-color: #00c8c8;
    color: #fff;
}

#logo_area ul li a{
    font-size: 12px;
    color: #999;
    margin-right: 10px;
    padding-right: 10px;
}

#logo_area ul li .white{
    color: #fff;
}

#logo_area .fas{
    color: #fff;
}


#logo_area .fas{
    margin-right: 10px;
}





/* ------------------------main_menu-------------------------- */
#main_menu{
    position: relative;
}

#main_menu ul li a{
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    padding-right: 5px;
    margin-right: 10px;  
}

#main_menu ul li a:hover{
    color: #23c4c4;
}

#main_menu input{
    margin-right: 0px;
    padding-right: 0px;
    border: none;
    outline-style: none;
}

#main_menu button{
   left: -40px;
   position: relative;
   border: none;
}

#main_menu .btn{
    background-color: #fff;
    color: #000;
}


#main_menu .form-control{
    width: 188px;

}

#main_menu ul .dropdown-menu{
    min-width: 30rem;
    text-transform: uppercase;
}

#main_menu ul .dropdown-menu a{
    font-size: 14px;
    color: #575153;
    margin: 10px 0px;
    font-weight: normal;
}

#main_menu ul ul{
    height: 600px;
}

#main_menu ul .dropdown-menu .casuals{
    float: left;
}

#main_menu ul .dropdown-menu .formal{
    float: left;
}

#main_menu ul .dropdown-menu .discount_box{
    background-color: #333;
    top: 250px;
    position: relative;
    height: 200px;
    box-sizing: border-box;
    margin: 20px;
    margin-left: 0px;
}


#main_menu ul .dropdown-menu .discount_box li{
    font-size: 36px;
    text-align: center;
    top: 30%;
    position: absolute;
}

#main_menu ul .dropdown-menu .discount_box li p{
    color: #fff;
    margin: 0px 20px;
}

#main_menu .shop_btn{
    top: 80%;
    left: 70%;
    position: absolute;
}

#main_menu .shop_btn .btn{
    border: 1px solid #333;
    text-transform: uppercase;
    padding: 15px 20px;
    font-weight: 500;
    transition: 0.5s;
}

#main_menu .shop_btn .btn:hover{
    background-color: rgb(253, 61, 13);
    color: #fff;
}


#main_menu .figure{
    position: relative;
}

#main_menu .figure .figure-caption{
    position: absolute;
    top: 40%;
    left: 40%;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 22px;
}

#main_menu .figure .figure-caption h1{
   font-size: 32px;
   color: #fff;
   text-transform: uppercase;
}

#main_menu .figure .figure-caption a{
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    margin: 5px;
 }



/* ------------------content area css --------------- */

#lookbook_area{
    position: relative;
}

#lookbook_area .nav li a{
    font-size: 13px;
    color: #575153;
    text-transform: uppercase;
    padding: 10px;
    margin: 5px 10px;
}


#lookbook_area .nav li a:hover{
    color: #23c4c4;
}



#lookbook_area .figure-caption,  #win_book .figure-caption{
    position: absolute;
    width: 30%;
    top: 8%;
    margin-left: 5px;
}


#lookbook_area .figure-caption h2, #win_book .figure-caption h2{
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 0.05cm;
}

#lookbook_area .figure-caption p, #win_book .figure-caption p{
    font-size: 13px;
    width: 60%;
}

#win_book .figure-caption h5{
    font-size: 13px;
}

#win_book .figure-caption p{
    width: 80%;
}

.four_img .img-thumbnail{
    height: 300px;
    width: 100%;

}


#lookbook_area .btn, #win_book .btn{
    background-color: #fff;
    border: 3px solid #575153;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.5s;
    letter-spacing: 0.1cm;
}

#lookbook_area.btn:hover, #win_book .btn:hover{
    color: #fff;
    background-color: #00c8c8;
   
}



#win_book{
    position: relative;
    margin-top: 10px;
}

#win_book .header{
    text-align: right;
    position: absolute;
    left: 45%;
    top: 30%;
}

#win_book .header h1{
    font-size: 100px;
    color: #00c8c8;
    letter-spacing: 0.1cm;
    margin-bottom: 0px;
}

#win_book .header h2{
    font-size: 26px;
    color: #00c8c8;
    letter-spacing: 0.1cm;
    text-transform: uppercase;
    margin-top: 0px;
}


/* -----------------------------view product css---------------------- */

#view_product{
    margin: 100px 0px;
    position: relative;
   
}

#view_product .figure-caption{
    position: absolute;
    width: 18%;
    top: 8%;
    margin-left: 10%;
}

#view_product .figure-caption h1{
   text-align: right;
}

#view_product .figure-caption p{
    text-align: right;
    font-size: 13px;
 }

 #view_product .figure-caption .btn{
     margin-left: 12%;
     margin-top: 2%;
 }

 #view_product .figure-caption .btn-light{
     border: 2px solid #575153;
     text-transform: uppercase;
     transition: 0.5s;
 }

 #view_product .figure-caption .btn-light:hover{
    background-color: #00c8c8;
    color: #fff;
    border: 1px solid #fff;
}

/* ------------------footer area css --------------- */

#footer_area{
    background-color: #f8f8f8;
    padding: 60px 0px;
    margin: auto 0;
}

.footer{
    margin-left: 180px;
}



#footer_area .list-unstyled h5{
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: uppercase;


}

#footer_area .list-unstyled li{
    margin-bottom: 15px;
}

#footer_area .list-unstyled a{
    font-size: 13px;
    text-decoration: none;
    color: #7b7b7b;

}

#footer_area .list-unstyled p{
    font-size: 13px;
    color: #7b7b7b;

}

/* ----------------------award box css--------------------------------------- */


#box{
    position: relative;
    margin-left: 15%;
}

.box{
    position: relative;
    margin: 0px 5px;

}

.one{
    background-color: #333;
    color: #fff;
    padding: 10%;
}

.one h3{
    font-size: 26px;
    margin: 2px 20px;
    text-align: center;
    text-transform: uppercase;
}

.two{
    background-color: #00c8c8;
    color: #fff;
    padding: 13%;
}


.two ul li{
    display: inline-block;
    margin-right: 50px;
}

.two ul .fab{
    color: #fff;
}

/* -------------------------copyright--------------------------- */

#copyright_area{
    background-color: #333333;
    color:#777;
}

#copyright_area p{
   font-size: 13px;
   margin-top: 15px;
   text-transform: capitalize;
}

#copyright_area .left p{
   margin-right: 10px;
 }

#copyright_area .left{
    float: left;
 }

 #copyright_area .right{
    float: left;
 }